html

  head
    link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css", rel="stylesheet")

  body
    h1 Signup form

    form(method="post", action="#{action}")

      label Username:
      input(name="username", type="text")

      label Password:
      input(name="password", type="password")

      p
        input(type="submit", val="Sign up", class="btn")
