html

    head
        link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css", rel="stylesheet")

    body
        h1 Login form

        form(method="post")

            label Username:
            input(name="username", type="text")

            p
                input(type="submit", val="Sign up", class="btn")
